{% extends 'common/base.html' %}
{% block content %}
    <div class="d-flex justify-content-between mb-3">
        <h3>Subdomains</h3>
        <div>
            <a class="btn btn-link" href="{% url 'contact_list' %}">Contacts</a>
            <a class="btn btn-primary" href="{% url 'subdomain_create' %}">Create</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Records</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{% url 'subdomain_detail' object.id %}">{{ object.id }}</a></td>
                <td><a href="http://{{ object }}">{{ object }}</a></td>
                <td><a href="{% url 'record_list' object.id %}">{{ object.records }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}