{% extends 'common/base.html' %}
{% block content %}
    <h3>Record detail</h3>
    <table class="table">
        <tr>
            <th scope="row">Identifier</th>
            <td>{{ record.identifier }}</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>{{ record.name }}</td>
        </tr>
        <tr>
            <th scope="row">TTL</th>
            <td>{{ record.ttl }}</td>
        </tr>
        <tr>
            <th scope="row">Type</th>
            <td>{{ record.type }}</td>
        </tr>
        <tr>
            <th scope="row">Data</th>
            <td>{{ record.data }}</td>
        </tr>
    </table>
{% endblock %}