{% extends 'common/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <h3>Search subdomains</h3>
    <form method="get">
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Search" %}
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Subdomain</th>
            <th scope="col">Is Available</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for k, v in results.items %}
            <tr>
                <td><a href="//{{ k.0 }}.{{ k.1 }}"><strong>{{ k.0 }}</strong>.{{ k.1 }}</a></td>
                <td class="{% if is_available %}text-success{% else %}text-danger{% endif %}">{{ v }}</td>
                <td>
                    {% if v %}
                        <a class="btn btn-primary"
                           href="{% url 'subdomains:create' %}?name={{ k.0 }}&domain={{ k.1.id }}">Create</a>
                    {% else %}
                        <a class="btn btn-info" href="{% url 'subdomains:whois' %}?q={{ k.0 }}.{{ k.1 }}">WHOIS</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}