{% extends 'common/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <h3>Search subdomains</h3>
    <form method="get">
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Search" %}
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Subdomain</th>
            <th scope="col">Is Available</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for name, domain, is_available in results %}
            <tr>
                <td><a href="//{{ name }}.{{ domain }}"><strong>{{ name }}</strong>.{{ domain }}</a></td>
                <td class="{% if is_available %}text-success{% else %}text-danger{% endif %}">{{ is_available }}</td>
                <td>
                    {% if is_available %}
                        <a class="btn btn-primary"
                           href="{% url 'subdomain_create' %}?name={{ name }}&domain={{ domain.id }}">Create</a>
                    {% else %}
                        <a class="btn btn-info" href="{% url 'subdomain_whois' %}?q={{ name }}.{{ domain }}">WHOIS</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}