{% extends 'common/base.html' %}
{% block content %}
    <div class="d-flex justify-content-between mb-3">
        <h3>{{ board.title }}</h3>
        <a class="btn btn-primary" href="{% url 'post_create' board.name %}">Create</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Title</th>
            <th scope="col">User</th>
            <th scope="col">Created At</th>
            <th scope="col">Views</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{% url 'post_detail' board.name object.id %}">{{ object.id }}</a></td>
                <td><a href="{% url 'post_detail' board.name object.id %}">{{ object }}</a></td>
                <td>{{ object.user }}</td>
                <td>{{ object.created_at }}</td>
                <td>{{ object.views }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'post_create' board.name %}">Write</a>
{% endblock %}