{% extends 'common/base.html' %}
{% block content %}
    <h3>{{ board.title }}</h3>
    <p>{{ board.description }}</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Title</th>
            <th scope="col">User</th>
            <th scope="col">Created At</th>
            <th scope="col">Views</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{% url 'post_detail' board.name object.id %}">{{ object.id }}</a></td>
                <td><a href="{% url 'post_detail' board.name object.id %}">{{ object }}</a></td>
                <td>{{ object.user }}</td>
                <td>{{ object.created_at }}</td>
                <td>{{ object.views }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}"
                       class="page-link">{{ page_obj.previous_page_number }}</a>
                </li>
            {% endif %}
            <li class="page-item active">
                <a href="?page={{ page_obj.number }}"
                   class="page-link">{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}"
                       class="page-link">{{ page_obj.next_page_number }}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <a class="btn btn-primary" href="{% url 'post_create' board.name %}">Write</a>
{% endblock %}