asgiref==3.5.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.3
django-bootstrap5==21.3
django-cors-headers==3.11.0
django-dotenv==1.4.2
django-recaptcha==3.0.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
drf-nested-routers==0.93.4
gunicorn==20.1.0
idna==3.3
jsonpickle==2.1.0
mysqlclient==2.1.0
PyJWT==2.3.0
python-digitalocean==1.17.0
pytz==2022.1
requests==2.27.1
soupsieve==2.3.1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
