{% extends 'common/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <h3>Short URL detail</h3>
    <table class="table">
        <tr>
            <th scope="row">ID</th>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th scope="row">Short URL</th>
            <td>
                <a href="{{ object.get_short_url }}">{{ object.get_short_url }}</a>
                {% bootstrap_button button_type="button" button_class="btn-outline-primary" size="sm" onclick="copy()" content="COPY" %}
            </td>
        </tr>
        <tr>
            <th scope="row">Long URL</th>
            <td><a href="{{ object.long_url }}">{{ object.long_url }}</a></td>
        </tr>
        <tr>
            <th scope="row">Created At</th>
            <td>{{ object.created_at }}</td>
        </tr>
    </table>
    <div class="d-flex justify-content-center">
        <div id="qrcode" class="border border-primary border-5 p-3"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
            integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        new QRCode(document.getElementById("qrcode"), "{{ object.get_short_url }}");

        function copy() {
            navigator.clipboard.writeText("{{ object.get_short_url }}");
            alert("Copied!");
        }
    </script>
{% endblock %}