{% extends 'common/base.html' %}
{% block content %}
    <div class="d-flex justify-content-between mb-3">
        <h3>Records {{ subdomain }}</h3>
        <div>
            <a class="btn btn-secondary" href="{% url 'records:zone_export' subdomain.id %}">Export Zone</a>
            <a class="btn btn-secondary" href="{% url 'records:zone_import' subdomain.id %}">Import Zone</a>
            <a class="btn btn-primary" href="{% url 'records:create' subdomain.id %}">Create</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Identifier</th>
            <th scope="col">Name</th>
            <th scope="col">TTL</th>
            <th scope="col">Type</th>
            <th scope="col">Data</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td><a href="{% url 'records:detail' subdomain.id record.identifier %}">{{ record.identifier }}</a></td>
                <td>{{ record.name }}</td>
                <td>{{ record.ttl }}</td>
                <td>{{ record.r_type }}</td>
                <td>{{ record.data }}</td>
                <td>
                    <a class="btn btn-secondary"
                       href="{% url 'records:update' subdomain.id record.identifier %}">Edit</a>
                    <a class="btn btn-danger"
                       href="{% url 'records:delete' subdomain.id record.identifier %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}