{% extends 'common/base.html' %}
{% block content %}
    <div class="d-flex justify-content-between mb-3">
        <h3>Records {{ subdomain }}</h3>
        <a class="btn btn-primary" href="{% url 'record_create' %}">Create</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Identifier</th>
            <th scope="col">Name</th>
            <th scope="col">TTL</th>
            <th scope="col">Type</th>
            <th scope="col">Data</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.identifier }}</td>
                <td>{{ record.name }}</td>
                <td>{{ record.ttl }}</td>
                <td>{{ record.r_type }}</td>
                <td>{{ record.data }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}