{% extends 'common/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <h3>{{ title }}</h3>
    <table class="table">
        {% for k, v in object.items %}
            <tr>
                <th scope="row">{{ k }}</th>
                <td>{{ v }}</td>
            </tr>
        {% endfor %}
    </table>
    {% bootstrap_button content="OK" button_type="link" button_class="btn-primary" href=".." %}
    {% bootstrap_button content="Update" button_type="link" button_class="btn-secondary" href="./update" %}
    {% bootstrap_button content="Delete" button_type="link" button_class="btn-danger" href="./delete" %}
{% endblock %}