{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subshorts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Subshorts">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://subshorts.com">
    <meta name="keywords" content="Subdomains, Short URLs">
    <meta name="description" property="og:description" content="Free subdomains and short URLs.">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Subshorts">
    {% bootstrap_css %}
</head>
<body>
<header class="pt-3">
    <div class="container">
        {% include "common/header.html" %}
    </div>
</header>
<nav class="border shadow-sm my-3">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subdomain_list' %}">Subdomains</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'shorturl_list' %}">Short URLs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'board_list' %}">Boards</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        <section class="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}"
                         role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </section>
        {% block content %}
        {% endblock %}
    </div>
</main>
</body>
</html>