<div style="margin-top: 1rem; display: flex; justify-content: space-around; align-items: center;">
    <a href="http://www.namesilo.com/?rid=0224176gs" target="_blank"><img
            src="https://www.namesilo.com/images/affiliate_assets/120x90_blue.gif" style="border:0;"
            alt="NameSilo Affiliate Marketing Material"></a>
    <a href="https://www.digitalocean.com/?refcode=d31ac39bdd48&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"
       target="_blank"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg"
                            alt="DigitalOcean Referral Badge"/></a>
</div>
{% if user.is_staff %}
    <a href="/admin">Admin</a>
{% endif %}