<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'subdomains:list' %}">Subdomains</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'short_urls:list' %}">Short URLs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'domains:list' %}">Domains</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.vultr.com/?ref=9007421-8H" target="_blank">Cloud Hosting</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'what_is_my_ip_address' %}">What is my IP address?</a>
    </li>
</ul>