<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'subdomains:list' %}">Subdomains</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'short_urls:list' %}">Short URLs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.namesilo.com/?rid=0224176gs" target="_blank">Domains</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://m.do.co/c/d31ac39bdd48" target="_blank">Cloud Hosting</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'boards:list' %}">Boards</a>
    </li>
</ul>