{% extends 'common/base.html' %}
{% block content %}
    <div class="d-flex justify-content-between mb-3">
        <h3>Short URLs</h3>
        <a class="btn btn-primary" href="{% url 'short_urls:create' %}">Create</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">UUID</th>
            <th scope="col">Name</th>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
            <th scope="col">Created At</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{% url 'short_urls:detail' object.uuid %}">{{ object.uuid }}</a></td>
                <td>{{ object.name }}</td>
                <td><a href="{{ object.short_url }}">{{ object.short_url }}</a></td>
                <td><a href="{{ object.long_url }}">{{ object.long_url }}</a></td>
                <td>{{ object.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}