{% extends 'common/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h3>Dashboard</h3>
        <section>
            <h5>Subdomains ({{ subdomains | length }})</h5>
        </section>
        <section>
            <h5>Contacts ({{ contacts | length }})</h5>
        </section>
        <section>
            <h5>Short URLs ({{ shorturls | length }})</h5>
        </section>
        <section>
            <h5>Posts ({{ posts | length }})</h5>
        </section>
        <section>
            <h5>Comments ({{ comments | length }})</h5>
        </section>
    {% else %}
        <p>Free subdomains and short URLs.</p>
    {% endif %}
{% endblock %}
