{% extends 'common/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    {% if user.is_authenticated %}
        <h3>Dashboard</h3>
        <section>
            <h5>Subdomains ({{ subdomains | length }})</h5>
        </section>
        <section>
            <h5>Contacts ({{ contacts | length }})</h5>
        </section>
        <section>
            <h5>Short URLs ({{ short_urls | length }})</h5>
        </section>
    {% else %}
        <p>Free subdomains and short URLs.</p>
    {% endif %}
    <h3>Subdomains</h3>
    <form method="get" action="/subdomains/search">
        {% bootstrap_form subdomain_form %}
        {% bootstrap_button button_type="submit" content="Search" %}
    </form>
    <h3>Short URLs</h3>
    <form method="get" action="{% url 'short_urls:create' %}">
        {% bootstrap_form short_url_form %}
        {% bootstrap_button button_type="submit" content="Shorten" %}
    </form>
{% endblock %}
