{% extends 'common/base.html' %}
{% block content %}
    <div class="d-flex justify-content-between mb-3">
        <h3>Authentication Tokens</h3>
        <a class="btn btn-primary" href="{% url 'dynamic_dns:create' %}">Create</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Record</th>
            <th scope="col">Token</th>
            <th scope="col">Expire At</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.record }}</td>
                <td>{{ object.token }}</td>
                <td>{{ object.expire_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}