{% extends 'common/base.html' %}
{% block content %}
    <h3>Contact detail</h3>
    <table class="table">
        <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th scope="row">Organization</th>
            <td>{{ object.organization }}</td>
        </tr>
        <tr>
            <th scope="row">Street</th>
            <td>{{ object.street }}</td>
        </tr>
        <tr>
            <th scope="row">City</th>
            <td>{{ object.city }}</td>
        </tr>
        <tr>
            <th scope="row">State/Province</th>
            <td>{{ object.state_province }}</td>
        </tr>
        <tr>
            <th scope="row">Postal Code</th>
            <td>{{ object.postal_code }}</td>
        </tr>
        <tr>
            <th scope="row">Country</th>
            <td>{{ object.country }}</td>
        </tr>
        <tr>
            <th scope="row">Phone</th>
            <td>{{ object.phone }}</td>
        </tr>
        <tr>
            <th scope="row">Fax</th>
            <td>{{ object.fax }}</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>{{ object.email }}</td>
        </tr>
    </table>
{% endblock %}