{% extends 'common/base.html' %}
{% block content %}
    <div class="d-flex justify-content-between mb-3">
        <h3>Contacts</h3>
        <a class="btn btn-primary" href="{% url 'contacts:create' %}">Create</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">UUID</th>
            <th scope="col">Name</th>
            <th scope="col">Organization</th>
            <th scope="col">Street</th>
            <th scope="col">City</th>
            <th scope="col">State/Province</th>
            <th scope="col">Postal Code</th>
            <th scope="col">Country</th>
            <th scope="col">Phone</th>
            <th scope="col">Fax</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{% url 'contacts:detail' object.uuid %}">{{ object.uuid }}</a></td>
                <td>{{ object.name }}</td>
                <td>{{ object.organization }}</td>
                <td>{{ object.street }}</td>
                <td>{{ object.city }}</td>
                <td>{{ object.state_province }}</td>
                <td>{{ object.postal_code }}</td>
                <td>{{ object.country }}</td>
                <td>{{ object.phone }}</td>
                <td>{{ object.fax }}</td>
                <td>{{ object.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}